.App {
  text-align: center;
  /* margin: 15px 0px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.background{
  position: fixed;
  left: 50%;
  min-width: 103.1%;
  min-height: 100%;
  width: 103.1%;
  height: 100%;
  object-fit: cover;
  z-index: -1000;
  transform: translateX(-48.5%);
}

.background-credit{
  font-size: 9px;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link1{
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 213, 250);
  color: white;
  padding: 17px;
  border-radius: 50%;
}

.about-me {
  color: #fff;
  align-content: center;
}

.about-content {
  display: flex;
  justify-content: row;
  align-items: center;
  transform: translateX(15%);
  text-align: start;
  width: 75%;
}

a{
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: white; 
 }

a:hover { 
  text-decoration: none; color:rgb(152, 193, 241); 
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(178, 209, 245), 0 0 2px rgb(178, 209, 245), 0 0 4px rgb(137, 182, 233), 0 0 5px rgb(178, 209, 245), 0 0 6px rgb(178, 209, 245);
}
a:focus {
   text-decoration: none; color:rgb(75, 26, 45); 
}
a:active {
   text-decoration: none; color:rgb(53, 37, 82); 
}

.link2{
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 213, 250);
  padding: 20px;
  border-radius: 50%;
  transform: translateY(15%);
}

.project-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.459);
  width: 90%;
  transform: translateX(4%);
  border-radius: 15px;
}

.project-indiv{
  display: flex;
  align-items: column;
  align-content: center;
  margin: 15px 0px;
}

.language-icons{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(50%);
  background-color: rgba(255, 255, 255, 0.459);
  padding: 15px;
  margin: 25px 0px;
  border-radius: 15px;
}

.language-indiv{
  margin: 3px 3px;
}

#django-icon{
  margin: 3px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
