@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


.App {
  text-align: center;
}

.navbar{
  font-family: 'Major Mono Display', monospace;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.navlink {
  margin: 20px;
  color: #fff;
}

.name {
  position: relative;
  transform: translate(1%, 8%);
}

.copyright {
  position: relative;
  transform: translate(-340%, -14%);
  color: #fff;
}

.about-link {
  width: 150px;
  height: 120px;

}

.project-link {
  width: 190px;
  height: 150px;

}

.home-nav1 {
  margin: 0px 10px;
}

.home-nav2 {
  position: relative;
  margin: 0px 10px;
  transform: translateY(-4.2%)
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.background{
  position: fixed;
  left: 50%;
  min-width: 103.1%;
  min-height: 100%;
  width: 103.1%;
  height: 100%;
  object-fit: cover;
  z-index: -1000;
  transform: translateX(-48.5%);
  opacity: 1;
}

.background-info {
  background-color: rgba(0, 0, 0, 0.5);
}


.background-credit{
  font-size: 7.2px;
  color: rgb(58, 58, 58)
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.about-me {
  color: #fff;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-me > h2 {
  color: #fff;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 17px;
  transform: translateY(25%);
  margin-left: 10px;
}

.about-content {
  display: flex;
  justify-content: row;
  align-items: center;
  transform: translateX(32%);
  text-align: start;
  width: 60%;
  margin-top: 80px;
}

.profile-pic {
  width: 350px; 
  height: 450px;
  margin-right: 20px;
}

.about-x-links {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transform: translateX(-15%)
}

.contact-link {
  margin-right: 20px;
  cursor: pointer;
}

.linkedin-icon {
  width: 90px;
  height: 90px;
}

.contact-icon {
  width: 110px;
  height: 110px;
}

.language-icons{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px 300px 15px;
  margin-top: 65px;
}

.language-indiv{
  margin: 3px 3px;
}

#django-icon{
  margin: 3px 0px;
}

a{
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
 }

a:hover { 
  text-decoration: none; color:rgb(255, 0, 0); 
  text-shadow: 0 0 10px rgb(179, 110, 110), 0 0 20px rgb(233, 150, 117), 0 0 30px rgb(246, 210, 125), 0 0 2px rgb(245, 211, 118), 0 0 4px rgb(182, 151, 66), 0 0 5px rgb(231, 204, 82), 0 0 6px rgb(236, 169, 81);
}
a:focus {
   text-decoration: none; color:rgb(71, 16, 88); 
}
a:active {
   text-decoration: none; color:rgb(73, 55, 109); 
}

.project-page {
  background-color: rgba(0, 0, 0, 0.5);
  /* color: #fff; */
}

.project-gallery{
  padding: 45px;  
}

.portfolio-item {
  margin: 10px;
}

.project-indiv{
  display: flex;
  align-items: column;
  align-content: center;
  margin: 15px 0px;
}


.carousel-title {
  color: #fff;
}

.carousel-description {
  color: #fff;
}

.btn {
  margin: 0px 5px 4px 5px;
  border-radius: 7px;
  background-color: rgb(197, 133, 81);
  color: rgb(223, 204, 204);
}


@media screen and (max-width: 885px){

  
  .name {
    width: 90%;
    transform: translate(3%, 8%);
  }

  .about-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .linkedin-icon {
    width: 70px;
    height: 70px;
  }

  .contact-icon {
    width: 90px;
    height: 90px;
  }

  .profile-pic {
    transform: translateX(5%)
  }

  .about-x-links {
    transform: translateX(1%);
  }

  .background {
    display: none;
  }

  .background-info {
    display: none;
  }

  

}

@media screen and (max-width: 600px){

  .about-x-links {
    transform: translateY(20%);
  }

}

@media screen and (max-width: 415px){

  .App-header {
    transform: translateY(-15%)
  }

  .navlink {
    margin: 20px 5px;
  }
  
  .name {
    width: 425px;
    height: 100px;
    transform: translate(2%, 8%);
  }

  .home-links {
    flex-direction: column;
    transform: translateY(-2%)
  }

  .home-nav2 {
    transform: translateY(-10%)
  }

  .about-link {
    width: 130px;
    height: 50px;
  
  }
  
  .project-link {
    width: 160px;
    height: 50px;
  
  }

  .description {
    font-size: 17px;
    text-align: center;
    transform: translateY(10%);
    /* margin-left: 10px; */
  }

  .about-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .profile-pic {
    transform: translateX(5%)
  }

  .about-x-links {
    transform: translateX(1%);
  }

  .background{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 1;
  }

}

@media screen and (max-width: 380px){

  .App-header {
    transform: translateY(-5%);
    z-index: 2000;
  }

  .navlink {
    margin: 20px 10px;
  }
  
  .name {
    width: 420px;
    height: 100px;
    transform: translate(3%, -45%);
  }

  .copyright {
    position: relative;
    transform: translate(-380%, -100%);
  }

  .about-link {
    width: 150px;
    height: 50px;
  
  }
  
  .project-link {
    width: 190px;
    height: 50px;
  
  }

  .home-links {
    transform: translateY(-50%);
    flex-direction: column;
  }

  .home-nav2 {
    transform: translateY(10%)
  }

  .about-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .profile-pic {
    width: 300px; 
    height: 390px;
    transform: translate(3.5%, -18%)
  }

  .description {
    text-align: center;
    transform: translateY(-15%);
    font-size: 15px;
  }

  .about-x-links {
    transform: translate(1%, -55%);
  }

  .description {
    transform: translateY(10%)  
  }

  
  .background{
    position: fixed;
    left: 41%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 1;
  }
  
}


@media screen and (max-width: 320px){
  
  .App-header {
    transform: translateY(-1%)
  }
  
  .navlink {
    margin: 20px 5px;
  }
  
  .name {
    width: 425px;
    height: 100px;
    transform: translate(2%, 8%);
  }
  
  .home-links {
    flex-direction: column;
    transform: translateY(1%)
  }
  
  .home-nav2 {
    transform: translateY(25%)
  }

  .about-link {
    width: 150px;
    height: 40px;
  
  }
  
  .project-link {
    width: 150px;
    height: 40px;
    
  }
  
  .about-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .profile-pic {
    transform: translateX(5%)
  }
  
  .about-x-links {
    transform: translateX(1%);
  }

  .copyright {
    transform: translate(-420%, -12%);
  }
  
  .background{
    position: fixed;
    left: 43%;
    width: 103.1%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 1;
  }

}